body{background-color: lightgray;}

h1{color: blue;text-align: center;}

h2{font-style: oblique;}

p{font-size: 20px;text-align: justify;}

li{margin-bottom: 20px;}

img{ border-radius: 10px;}

table{width: 50%;
border-color: blue;
border-collapse: collapse;}

td{padding: 10px;
text-align: center;}

th{text-align: center;
text-decoration-color: blue;
font-style: italic;}

a{color: blue;
text-decoration: none;
display: inline-block;}

a:hover{color: chartreuse;
background-color: black;}